**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
**/core.*.dmp
**/heapdump.*.phd
**/javacore.*.txt
**/Snap.*.trc

.eclipse2/
NavAstro/.project
NavAstro/.settings/
NavAstro/app/.classpath
NavAstro/app/.project
NavAstro/app/.settings/

NavAstro/app/LOG_DIR_IS_UNDEFINED/
NavAstro/app/bin/
NavAstro/logsODT/


.eclipse/
/.metadata/
JavaNav/.gradleUserHome
.gradle
**/*.jar
logs/
.gradle/
app/nbproject/
**/.project
**/.classpath
**/.project
**/.settings
**/bin

# Ignore Gradle project-specific cache directory
**/.gradle/
**/gradle/
**/gradlew
**/gradlew.bat


# Ignore Gradle build output directory
**/build/
**/*.class

# Package Files #
**/*.war
**/*.ear

# IDEA config files
**/.idea/
**/*.log
**/out/


ProjetUI/V1.0.0/node_modules
**/node_modules
**/node_modules/
ProjetUI/V1.0.0/package-lock.json
