$body-color: red;
// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$global-font-family: 'Roboto', sans-serif;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }
@import "uikit/src/scss/uikit-theme.scss";

body {
  color: $body-color;
  background-color: greenyellow;
  font-family: 'Roboto', sans-serif;
}